body {
    font-family: Avenir, sans-serif;
}

.wrapper {
    max-width: 1409px;
    margin: 0 auto;
}

.present {
    background: url("../img/main_background_electrik.png") no-repeat;
    background-size: 100%;
    padding-bottom: 240px;
}


@media (min-width: 1900px) {
    .present {

    }
}

@media (max-width: 1675px) {

}

.icon-shadow {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-shadow: 0px 0px 30px rgba(229, 150, 95, 0.75);
    background: linear-gradient(239.97deg, #FF8F45 11.29%, #F9C066 86.44%);
    border-radius: 50%;
}

header {
    padding-top: 40px;
}

.present__description p {
    font-size: 14px;
    max-width: 450px;
    line-height: 17px;
}

.present__nav {
    font-size: 14px;
}

.present__callback b {
    font-size: 18px;
    letter-spacing: 1px;
}

.present__callback p {
    font-size: 16px;
    text-decoration: underline;
}

.present__callback .icon-shadow {
    width: 49px;
    height: 49px;
}

.present__main {
    margin-top: 80px;
    margin-bottom: 70px;

    gap: 50px;
}

.present__main h1 {
    font-size: 48px;
    line-height: 62px;
    max-width: 810px;
}

.present__button {
    background: linear-gradient(180deg, #5C80E3 0%, #335BD9 100%);
    box-shadow: 0px 0px 35px rgba(52, 92, 218, 0.5);
    border-radius: 100px;
    padding: 28px 62px;
    font-size: 16px;
}

.present__button:hover {
    background: linear-gradient(180deg, #4772EA 0%, #1848DE 100%);
}

.present__features {
    gap: 100px;
}

.present__features .icon-shadow, .principles__content .icon-shadow {
    width: 90px;
    height: 90px;
}
.present__features-item p {
    line-height: 22px;
}
.present__features-item:first-child p {
    max-width: 260px;
}

.present__features-item:nth-child(2) p {
    max-width: 280px;
}

.present__features-item:nth-child(3) p {
    max-width: 330px;
}

.present-menu__icon, .present-menu__icon-lie {
    display: none;
}

.section__title {
    font-size: 40px;
    max-width: 643px;
}
.principles {
    padding-top: 30px;
    padding-bottom: 80px;
}
.principles__content {
    margin-top: 75px;

}
.principles-list__item {
    min-height: 125px;
}
.principles-list__item h2 {
    font-size: 24px;
    margin-top: 10px;
    line-height: 31px;
    max-width: 420px;
}
.principles-list__item p {
    max-width: 630px;
    font-size: 16px;
}
.principles-list__item .icon-shadow {
    position: relative;
}
.principles-list__item:not(:last-child) .icon-shadow:after {
    content: "";
    position: absolute;
    background: #FF8F45;
    height: 90px;
    top: 100%;
    left: 50%;
    width: 1px;
}
.challenges {
    background: url("../img/challenges_bg.jpg") no-repeat;
    background-size: 100%;
    padding: 200px 0;
    max-height: 900px;
}
.challenges__content p {
    font-size: 22px;
    line-height: 35px;
    max-width: 690px;
    margin-top: 40px;
}
.work-steps {
    padding: 20vh 0;
}
.work-steps__item h1 {
    font-size: 160px;
    color: #FF8F45;
}
.work-steps__item .icon-shadow {
    width: 112px;
    height: 112px;
}
.work-steps__list {
    max-width: 83%;
}
.work-steps__item:nth-child(even) {
    align-self: flex-end;
}
.work-steps__item h2, .work-steps__item p  {
    max-width: 330px;
}
.work-steps__item span {
    display: block;
    margin-top: 5px;
}
.services {
    padding: 150px 0;
}
.services-list {
    margin-top: 75px;
    gap: 20px;
}
.services-block {
    border-radius: 30px;
    width: 690px;
    padding: 20px;
    box-shadow: 0px 27px 30px rgba(0, 7, 16, 0.05),
    0px 8.13971px 21.103px rgba(0, 7, 16, 0.0456112),
    0px 3.38082px 8.76509px rgba(0, 7, 16, 0.035),
    0px 1.22278px 3.17016px rgba(0, 7, 16, 0.0243888);
}
.services-list__item {
    gap: 40px;

}

.services-list__item img {
    border-radius: 30px;
}
.services-list__item p {
    max-width: 400px;
    font-size: 22px;
    line-height: 35px;
}
.work-steps__list {
    background: url("../img/work-steps_bg.svg") no-repeat;
    background-size: 45%;
    background-position-y: 35%;
    background-position-x: 45%;
}
@media (max-width: 1730px) {
    .challenges {
        padding: 100px 0;
    }
}
@media (max-width: 1680px) {
    .wrapper {
        max-width: 1150px;
    }
    .slick-list {
        padding: 40px 20px !important;
    }
    .services-list {
        gap: 40px;
    }
    .services-list__item p {
        font-size: 18px;
    }
    .services-list__item img {
        width: 150px;
    }
    .services-block {
        width: 550px;
    }
    .present__main h1 {
        font-size: 40px;
        line-height: 45px;
    }
    .work-steps__list {
        background-image: url("../img/work-steps-bg_tablet.svg");
        background-size: 27%;
        background-position-x: 40%;
        background-position-y: 50%;

    }
    .challenges {
        padding: 150px 0;
    }
    .challenges__img {
        width: 450px;
    }
    .present__button {
        padding: 24px 40px;
    }

    .present__features-item .icon-shadow, .principles-list__item .icon-shadow {
        height: 80px;
        width: 80px;
    }

    .present__nav {
        gap: 25px;
    }

    .present__description p {
        max-width: 390px;
        font-size: 12px;
    }

    .present__callback b {
        font-size: 17px;
        letter-spacing: unset;
    }
    .principles__image {
        width: 400px;
    }
    .principles-list__item img {
        width: 40px;
        height: 40px;
    }
    .priciples-list {
        gap: 10px;
    }
    .principles-list__item .flex-column {
        gap: 10px;
    }
    .principles-list__item p {
        max-width: 500px;
    }
}
@media (max-width: 1500px) {
    .challenges {
        background-size: 115%;
    }
}
@media (max-width: 1300px) {
    .present__description p {
        font-size: 10px;
        max-width: 320px;
    }
    .services-block {
        width: 400px;
    }
    .services-block p {
        font-size: 14px;
        line-height: 20px;
    }
    .work-steps__list {
        max-width: unset;
        background-size: 30%;
    }
    .challenges__img {
        width: 350px;
    }
    .present__callback .icon-shadow {
        width: 40px;
        height: 40px;
    }

    .present__nav {
        font-size: 12px;
        gap: 12px;
    }

    .wrapper {
        max-width: 900px;
    }

    .present {
        background-size: 117%;
    }

    .present__callback {
        gap: 10px;
    }

    .present__callback p {
        font-size: 12px;
    }

    .present__callback b {
        font-size: 16px;
    }

    .present__button {
        padding: 15px 25px;
        font-size: 14px;
    }

    .present__features-item img, .principles-list__item img {
        width: 25px;
        height: 25px;
    }

    .present__features .icon-shadow, .principles-list__item .icon-shadow {
        width: 60px;
        height: 60px;
    }

    .present__features-item p {
        font-size: 12px;
    }
    .principles-list__item h2 {
        font-size: 16px;
        max-width: 330px;
        line-height: 20px;
    }
    .section__title {
        font-size: 33px;
    }
    .principles-list__item {
        min-height: 80px;
    }
    .principles-list__item .flex-column {
        gap: 5px;
    }

    .principles-list__item p {
        max-width: 370px;
        font-size: 10px;
    }
    .principles__image {
        width: 320px;
    }
    .present__features {
        gap: 60px;
    }

    .present__features-item:first-child p {
        max-width: 220px;
    }

    .present__features-item:nth-child(2) p {
        max-width: 240px;
    }

    .present__features-item:nth-child(3) p {
        max-width: 280px;
    }
}
@media (max-width: 1170px) {
    .challenges__img {
        max-width: 246px;
    }
    .challenges {
        background-size: 100%;
    }
}
@media (max-width: 1070px) {
    .present {
        background-size: 140%;
    }
    .challenges {
        background-size: 110%;
    }
}
.challenges__img-tablet {
    display: none;
}
@media (max-width: 1000px) {
    .challenges .section__title {
        max-width: unset;
    }
    .challenges {
        background-size: 140%;
    }
    .challenges__img {
        display: none;
    }
    .services-block {
        width: 650px;
    }

    .services-list__item p {
        max-width: 400px;
        font-size: 22px;
        line-height: 35px;
    }
    .challenges__img-tablet {
        display: block;
    }
    .challenges__content p {
        min-width: 460px;
    }
    .wrapper {
        max-width: 750px;
    }
    .present-menu__icon {
        top: 48px;
        right: 0;
    }
    .present__main h1 {
        line-height: 52px;
    }
    .present {
        background: url("../img/main_background_elecktrik_tablet.png") no-repeat;
        background-size: 100%;
        background-position-y: bottom;
    }
    header {
        align-items: flex-start !important;
    }
    .present__nav {
        display: none;
    }

    .present__button {
        padding: 28px 62px;
        font-size: 16px;
    }

    .present__features {
        flex-direction: column;
        gap: 36px;
    }

    .present__features-item {
        align-items: center;
        flex-direction: row;
    }
    .principles__image {
        width: 250px;
    }
    .present-menu__icon {
        display: block;
        top: 48px;
        right: 45px;
    }
    .present-menu__icon-lie {
        display: block;
        opacity: 0;
        visibility: hidden;
    }

    .present__description p {
        max-width: 270px;
        line-height: 12px;
    }
    .present__callback {
        margin-top: 3px;
    }
}

@media (max-width: 830px) {
    .wrapper {
        max-width: 600px;
    }
    .work-steps__list {
        background-size: 42%;
        background-position-y: 45%;
    }
    .challenges__img-tablet {
        display: none;
    }
    .challenges {
        background-size: 160%;
    }

    .principles__image {
        display: none;
    }
    .present__main h1 {
        font-size: 35px;
    }
    .principles-list__item p {
        max-width: 510px;
        font-size: 14px;
    }
    .present__button {
        padding: 22px 40px;
    }
}

@media (max-width: 685px) {
   .challenges .section__title {
       font-size: 22px;
   }
    .work-steps__item h1{
        font-size: 100px;
    }
    .work-steps__item .icon-shadow {
        width: 71px;
        height: 71px;
    }
    .work-steps__item img {
        width: 45px;
        height: 45px;
    }
    .work-steps__item h2 {
        font-size: 18px;
        max-width: 250px;
    }
    .challenges__content p {
        font-size: 18px;
    }
    .present {
        background-position-y: unset;
        padding-bottom: 100px;
    }
    .principles-list__item p {
        font-size: 12px;
        max-width: 400px;
    }
    .principles-list__item h2 {
        font-size: 15px;
        line-height: 19px;
        max-width: 270px;
    }
    .wrapper {
        max-width: 500px;
    }

    .present__callback b {
        font-size: 14px;
    }

    .present__description p {
        font-size: 9px;
        max-width: 240px;
    }

    .present__callback img {
        width: 20px;
    }

    .present__callback .icon-shadow {
        width: 32px;
        height: 32px;
    }

    .present__main h1 {
        font-size: 33px;
    }
    .work-steps__list {
        background-size: 35%;
    }
}
@media (max-width: 613px) {
    .wrapper {
        max-width: 430px;
    }
    .work-steps__list {
        background-size: 61%;
        background-position-y: 40% !important;
        gap: 30px;
        background: url("../img/work-steps-bg-mobile.svg") no-repeat;
        background-position-x: 65%;
    }

    .work-steps__item {
        align-self: unset !important;
    }

    .challenges {
        background-size: 230%;
    }
    .challenges__content p {
        min-width: unset;
    }
    header {
        align-items: flex-start !important;
    }
    .principles-list__item p {
        max-width: 300px;
    }
    .present__callback {
        display: none;
    }
    .present__main h1 {
        font-size: 25px;
        line-height: 32px;
    }
    .present__button {
        padding: 19px 36px;
    }
    .present__features .icon-shadow, .principles-list__item .icon-shadow {
        width: 50px;
        height: 50px;
    }
}
@media (max-width: 530px)  {
    .present {
        background-size: 115%;
    }
}
@media (max-width: 478px) {
    .challenges {
        background-size: 310%;
    }
    .work-steps__list {
        background-position-x: 95%;
    }
    .present {
        background-size: 145%;
    }
    .wrapper {
        max-width: 350px;
    }
    .section__title {
        font-size: 22px;
    }
    .principles__content {
        margin-top: 40px;
    }
    .principles-list__item p, .principles-list__item h2 {
        max-width: 200px;
    }
    .principles-list__item:not(:last-child) .icon-shadow:after {
        content: "";
        position: absolute;
        background: #FF8F45;
        height: 105px;
        top: 100%;
        left: 50%;
        width: 1px;
    }
    .work-steps {
        padding: 20px 0;
    }
}
@media (max-width: 400px) {
    .present {
        background-size: 100% !important;
        padding-bottom: 100px;
        background-position-y: -20vh !important;
        background: url("../img/main_bg_mobile.png") no-repeat;
    }
    .work-steps__item h2 {
        line-height: 23px;
    }
    .wrapper {
        max-width: 290px;
    }
    .challenges {
        background-size: 430%;
    }
    .present__features-item p {
        max-width: 218px !important;
    }
    .present__button {
        width: 100%;
    }
    .principles {
        padding-bottom: 0;
    }
    .work-steps__item p {
        font-size: 14px;
        line-height: 19px;
    }
}
@media (max-width: 346px) {
    .challenges {
        background: url("../img/challenges_bg-mobile.jpg") no-repeat;
        background-size: 100%;
    }
    .present {
        background: url("../img/main_bg_mobile.png") no-repeat;
        background-size: 100%;
        background-position-y: -110px;
    }
    .present__description p {
        font-size: 8px;
        line-height: 9px;
    }

}