.present {
    background-image: url(../img/main_background_electrik.png);
}
@media (max-width: 1000px) {
    .present {
        background-image: url(../img/main_background_elecktrik_tablet.png);
        background-size: 100% !important;
        background-position-y: bottom;
    }
}

@media (max-width: 738px) {
    .present {
        background-position-y: top;
    }
}
@media (max-width: 685px) {
    .present {
        background-position-y: unset;
        padding-bottom: 100px;
    }
}
@media (max-width: 530px) {
    .present {
        background-size: 115% !important;
    }
}
@media (max-width: 478px) {
    .present {
        background-size: 145% !important;
    }
}
@media (max-width: 400px) {
    .present {
        background-size: 100% !important;
        padding-bottom: 130px;
    }
}







