@media (max-width: 1000px){
    .present {
        background-size: 102% !important;
    }
}
@media (max-width: 870px){
    .present {
        background-size: 110% !important;
        background-position-x: center;
    }
}
@media (max-width: 777px){
    .present {
        background-size: 130% !important;
    }
}
@media (max-width: 680px){
    .present {
        background-size: 150% !important;
    }
}
@media (max-width: 680px){
    .present {
        background-size: 175% !important;
    }
}
@media (max-width: 480px){
    .present {
        background-size: 205% !important;
    }
}

@media (max-width: 400px){
    .present {
        background-size: 100% !important;
        background-image: url(../img/main_bg_mobile.png) !important;
    }
}
@media (max-width: 369px) {
    .present {
        background-size: 110% !important;
    }
}